@page "/"
@*attribute [Authorize(Roles = "user")]*@
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@inject NavigationManager NavigationManager; 

<h1>You can only see this if you're authorized.</h1>
@*<h1>Hello, world!</h1>
<button @onclick="AddUser">Add User</button>

Welcome to your new app.*@

<AuthorizeView>
	<Authorized>
		<label>Hello @context.User.Identity.Name!</label>
		<ul>
			@foreach (Claim claim in @context.User.Claims)
			{
				<li>@claim.Type: @claim.Value</li>
			}
		</ul>
	</Authorized>
	<NotAuthorized>
		<label><b style="color: red;">You are not authorized.</b></label>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }

	protected async override Task OnInitializedAsync()
	{
		var authenticationState = await authenticationStateTask;

		if (!authenticationState.User.Identity.IsAuthenticated)
		{
			// Send unauthorized users to the login page
			NavigationManager.NavigateTo("/login");
		}
	}
}