@page "/"
@attribute [Authorize(Roles = "user")]
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject NavigationManager NavigationManager

<style>
	#search_bar {
		background: #333844 url(/css/icons/Search.png) right no-repeat;
		padding-right: 17px;
	}
</style>

<AuthorizeView>
	<Authorized>
		<div class="container-left fix-left">
			<div class="main needs-padding">
				<img width="50" height="50" src="/css/icons/Default.jpg" alt="Profile Image" />
				<h4>@_displayName</h4>
				<p class="p-annotation-lg">@_accountName</p>
			</div>
			<div class="main row">
				<button @onclick="NavCreatePost" class="btn-norm">Start a Thread</button>
			</div>
			<div>
				<a href="/pref">
					<img width="50" height="50" src="/css/icons/Settings.png" alt="Settings Image" />
					Preferences
				</a>
			</div>
			<div class="">
				<p class="p-annotation-sm">@*Bottom*@</p>
			</div>
		</div>
		<div class="container-middle">
			<div class="main">
				@foreach (Entity.Thread thread in _threads)
				{
					<ThreadPreview ThreadModel="thread" />
				}
				<button @onclick="LoadThreads" style="width: 100%;" class="btn-norm">Load more</button>
			</div>
		</div>
		<div class="container-right fix-right">
			<div class="main needs-padding">
				<h1>HOME <img src="/css/icons/Quick_Settings.png" width="40" height="40"/></h1>
				<p>Sort by:</p>
				<div class="row btn-select">
					<button class="btn-left">New</button>
					<button class="btn-active">Trending</button>
					<button class="btn-right">Old</button>
				</div>
			</div>
			<div class="main row">
				<input id="search_bar" class="input-fg needs-padding" type="text" placeholder="Search @@User, #Tags or Posts" />
			</div>
			<div class="main needs-padding">
				<TrendingNow />
			</div>
		</div>
	</Authorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }

	[CascadingParameter]
	private Model.Database DbContext { get; set; }
	
	private string _displayName;
	private string _accountName;
	private readonly List<Entity.Thread> _threads = new();

	protected override async Task OnInitializedAsync()
	{
		var authState = await authenticationStateTask;

		Entity.User user = DbContext.Users.First(u => u.AccountName == authState.User.Identity.Name);
		_displayName = user.DisplayName;
		_accountName = user.AccountName;

		await LoadThreads();
	}

	private async Task LoadThreads()
	{
		// Only retrieve threads that are older than our oldest already retrieved thread.
		var lastTimeStamp = _threads.LastOrDefault()?.Created ?? DateTime.Now;

		_threads.AddRange(
			DbContext.Threads
				.Include(t => t.Creator)
				.Include(t => t.Forum)
				.Include(t => t.Tags)
				.OrderByDescending(o => o.Created)
				.Where(t => t.Created.CompareTo(lastTimeStamp) < 0)
				.Take(50).ToList()
		);

		//_threads.Sort((t1, t2) => t2.Created.CompareTo(t1.Created));
	}

	private void NavCreatePost()
	{
		NavigationManager.NavigateTo("/post");
	}
}