@page "/login"
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@using System.ComponentModel.DataAnnotations;
@*@inject IDbContextFactory<Model.Database> DbContext;*@
@inject AuthenticationStateProvider AuthProvider;
@inject NavigationManager NavigationManager;

<div class="main-div">
	<AuthorizeView>
		<NotAuthorized>
			<h3>Login</h3>
			<input type="text" @bind="_loginModel.Username" placeholder="Enter Username" />
			<input type="password" @bind="_loginModel.Password" placeholder="Enter Password" />
			<button @onclick="SignIn">Sign In</button>
			<p>@_message</p>
		</NotAuthorized>
		<Authorized>
			<h3>Logout</h3>
			<button @onclick="LogOut">Log out</button>
			<a href="/">Home</a>
		</Authorized>
	</AuthorizeView>
</div>

@code {
	private LoginModel _loginModel = new LoginModel();
	private string _message;

	private async Task SignIn()
	{
		if (!string.IsNullOrEmpty(_loginModel.Username) && !string.IsNullOrEmpty(_loginModel.Password))
		{
			try
			{
				((Forum.Controller.AuthenticationStateController)AuthProvider).ValidateLogin(_loginModel.Username, _loginModel.Password);
			}
			catch (Exception ex)
			{
				_message = ex.Message;
			}

			_loginModel = null;
		}
	}

	private async Task LogOut()
	{
		((Forum.Controller.AuthenticationStateController)AuthProvider).Logout();
		NavigationManager.NavigateTo("/");
	}

	public class LoginModel
	{
		[Required]
		public string Username { get; set; }
		[Required]
		public string Password { get; set; }
	}
}
