@page "/login"
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@using System.ComponentModel.DataAnnotations;
@inject IDbContextFactory<Model.Database> DbContext;
@inject AuthenticationStateProvider AuthProvider;
@inject NavigationManager NavigationManager;

<div class="main text-center m-auto">
	<AuthorizeView>
		<NotAuthorized>
			<h3>Login</h3>
			<input class="form-control" placeholder="Username / Email" @bind-value="_loginModel.Username" />
			<input class="form-control" placeholder="Password" @bind-value="_loginModel.Password" />
			<div class="row">
				<a href="/pwreset"><button class="accent-red btn-bottom-left">Forgot Password</button></a>
				<a href="/register"><button class="accent-blue">Create Account</button></a>
				<button class="accent-green btn-bottom-right" @onclick="SignIn">Log In</button>
			</div>
		</NotAuthorized>
		<Authorized>
			<h3>Logout</h3>
			<button @onclick="LogOut">Log out</button>
			<a href="/">Home</a>
		</Authorized>
	</AuthorizeView>
</div>

@code {
	private LoginModel _loginModel = new LoginModel();
	private string _message;

	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }

	private async Task SignIn()
	{
		if (!string.IsNullOrEmpty(_loginModel.Username) && !string.IsNullOrEmpty(_loginModel.Password))
		{
			try
			{
				await ((Forum.Controller.AuthenticationStateController)AuthProvider).ValidateLogin(_loginModel.Username, _loginModel.Password);
			}
			catch (Exception ex)
			{
				_message = ex.Message;
			}

			_loginModel = new LoginModel();
		}
	}

	private async Task LogOut()
	{
		await ((Forum.Controller.AuthenticationStateController)AuthProvider).Logout();
		NavigationManager.NavigateTo("/");
	}

	//private async Task SetSessionVar()
	//{
	//	using var db = DbContext.CreateDbContext();

	//	var authenticationState = await authenticationStateTask;

	//	string username = authenticationState.User.Identity.Name;

	//	var user = db.Sessions.Include(s => s.User).Where(s => s.User.AccountName == username).FirstOrDefault().User;

	//	var session = new Entity.Session()
	//	{
	//		UserId = user.Id,
	//		Identifier = "Test",
	//		Value = "tseT"
	//	};

	//	db.Sessions.Add(session);
	//	db.SaveChanges();
	//}

	public class LoginModel
	{
		[Required]
		public string Username { get; set; }
		[Required]
		public string Password { get; set; }
	}
}
