@page "/login"
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@using System.ComponentModel.DataAnnotations;
@*@inject IDbContextFactory<Model.Database> DbContext;*@
@inject AuthenticationStateProvider AuthProvider;
@inject NavigationManager NavigationManager;

<div class="main-div m-auto">
	<AuthorizeView>
		<NotAuthorized>
			<h3>Login</h3>
			<input class="main-color" type="text" @bind-value="_loginModel.Username" placeholder="Username / Email" /><br />
			<input class="main-color" type="password" @bind-value="_loginModel.Password" placeholder="Password" />
			<div class="row">
				<a href=""><button class="button bg-red">Forgot Password</button></a>
				<a href="/register"><button class="button bg-blue">Create Account</button></a>
				<button class="button bg-green" @onclick="SignIn">Sign In</button>
			</div>
			<p>@_message</p>
		</NotAuthorized>
		<Authorized>
			<h3>Logout</h3>
			<button @onclick="LogOut">Log out</button>
			<a href="/">Home</a>
		</Authorized>
	</AuthorizeView>
</div>

@code {
	private LoginModel _loginModel = new LoginModel();
	private string _message;

	private async Task SignIn()
	{
		Console.WriteLine("Sign in");
		if (!string.IsNullOrEmpty(_loginModel.Username) && !string.IsNullOrEmpty(_loginModel.Password))
		{
			try
			{
				((Forum.Controller.AuthenticationStateController) AuthProvider).ValidateLogin(_loginModel.Username, _loginModel.Password);
			}
			catch (Exception ex)
			{
				_message = ex.Message;
			}

			_loginModel = null;
		}
	}

	private async Task LogOut()
	{
		((Forum.Controller.AuthenticationStateController)AuthProvider).Logout();
		NavigationManager.NavigateTo("/");
	}

	public class LoginModel
	{
		[Required]
		public string Username { get; set; }
		[Required]
		public string Password { get; set; }
	}
}
