@page "/register"
@using BCrypt.Net;
@using System.ComponentModel.DataAnnotations;
@using Microsoft.Extensions.Configuration 
@* ReSharper disable once InconsistentNaming *@
@inject NavigationManager NavigationManager 
@* ReSharper disable once InconsistentNaming *@
@inject NavigationManager NavMan 
@* ReSharper disable once InconsistentNaming *@
@inject IConfiguration Config
@* ReSharper disable once InconsistentNaming *@
@inject Data.InfoMessage MessageService

<div class="main text-center mt-5 ml-auto mr-auto form-bigger">
	<EditForm class="form-bigger" Model="@_registerModel" OnValidSubmit="HashPw">
		<DataAnnotationsValidator />
		@*<ValidationSummary />*@
	<div class="col">
		<h3 class="mt-2">Create Account</h3>
		<div class="relative-span">
			<InputText class="form-control" type="text" @bind-Value="_registerModel.AccountName" placeholder="Account Name" />
			<ValidationMessage For="() => _registerModel.AccountName" />
		</div>
		<div class="relative-span">
			<InputText class="form-control" type="email" @bind-Value="_registerModel.Email" placeholder="Email Address" />
			<ValidationMessage For="() => _registerModel.Email" />
		</div>
		<div class="relative-span">
			<InputText class="form-control" type="password" @bind-Value="_registerModel.Password" placeholder="Password" />
			<ValidationMessage For="() => _registerModel.Password" />
		</div>
		<div class="relative-span">
			<InputText class="form-control" type="password" @bind-Value="_registerModel.RepeatPassword" placeholder="Repeat Password" />
			<ValidationMessage For="() => _registerModel.RepeatPassword" />
		</div>
		<div class="row">
			<button type="button" class="accent-blue btn-bottom-left btn-grow-large" @onclick="NavLogin">Already have an account?</button>
			<button type="submit" class="accent-green btn-bottom-right">Register</button>
		</div>
	</div>
	</EditForm>
</div>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> AuthenticationStateTask { get; set; }

	[CascadingParameter]
	private Model.Database DbContext { get; set; }
	
	private readonly RegisterModel _registerModel = new();

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateTask;

		if (authState.User.Identity.IsAuthenticated)
		{
			NavigationManager.NavigateTo("/");
		}
	}

	private async Task HashPw()
	{
		var pwHash = BCrypt.EnhancedHashPassword(
			_registerModel.Password,
			Config.GetValue<int>("Workfactor"));

		if (DbContext.Users.Where(u => u.AccountName == _registerModel.AccountName).Any())
		{
			MessageService.Message = "Username already exists.";
			return;
		}

		if (DbContext.Users.Where(u => u.Email == _registerModel.Email).Any())
		{
			MessageService.Message = "There already is an account with this email address.";
			return;
		}

		var user = new Entity.User()
		{
			AccountName = _registerModel.AccountName,
			Email = _registerModel.Email,
			PwHash = pwHash
		};

		try
		{
			await DbContext.Users.AddAsync(user);
			await DbContext.SaveChangesAsync();

			MessageService.Message = "Account created successfully.";
			NavigationManager.NavigateTo("/login");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}

	private void NavLogin()
	{
		NavMan.NavigateTo("/login");
	}

	public class RegisterModel
	{
		[Required(ErrorMessage = "The 'Account Name' field is required.")]
		[RegularExpression(@"^(?!.*@).*$", ErrorMessage = "Accountname can't contain '@'.")]
		public string AccountName { get; set; }

		public string DisplayName { get; set; }

		[Required(ErrorMessage = "The 'Email' field is required.")]
		[RegularExpression(@"^.+@.+$", ErrorMessage = "Not a valid Email address.")]
		public string Email { get; set; }

		[Required(ErrorMessage = "The 'Password' field is required.")]
		public string Password { get; set; }

		[Required(ErrorMessage = "The 'Repeat Password' field is required.")]
		[Compare(nameof(Password), ErrorMessage = "Passwords don't match.")]
		public string RepeatPassword { get; set; }
	}
}