@inherits LayoutComponentBase
@* ReSharper disable once InconsistentNaming *@
@inject Data.InfoMessage MessageService

<div class="page">
	@Body
</div>

@* Displays info messages on the screen. *@
<InfoMessage />
