@using Markdig
@* ReSharper disable once InconsistentNaming *@
@inject Ganss.XSS.IHtmlSanitizer HtmlSanitizer

<style>
	.md-view {
		font-family: "JetBrains Mono", monospace;
		color: #ebdbb2;
	}
	
	.md-view h1, .md-view h2, .md-view h3, .md-view h4, .md-view h5, .md-view h6 {
		color: #98971A;
	}
</style>

<div class="md-view">
	@HTMLContent
</div>

@code {
	private string _content;

	[Parameter]
	public string Content
	{
		get => _content;
		set
		{
			_content = value;
			HTMLContent = ConvertToMarkup(_content);
		}
	}

	private MarkupString HTMLContent { get; set; }

	/// <summary>
	/// Converts Markdown to html
	/// </summary>
	private MarkupString ConvertToMarkup(string value)
	{
		if (string.IsNullOrWhiteSpace(value))
			return new MarkupString();

		var html = Markdown.ToHtml(value, new MarkdownPipelineBuilder().UseAdvancedExtensions().Build());
		var sanitizedHtml = HtmlSanitizer.Sanitize(html);

		return new MarkupString(sanitizedHtml);
	}
}