
<style>
	#tag_container {
		width: inherit;
		margin: 0;
	}

	#tag_container p {
		margin-left: auto;
		margin-right: auto;
	}
</style>

<p>Trending Now</p>
@*@foreach ()
{
	<div id="tag_container" class="row">
		<a href="">#Tag1</a><p>12</p>
	</div>
}*@

@code {

}
