@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<Model.Database> DbContext

<style>
	#tag_container {
		width: inherit;
		margin: 0;
	}

		#tag_container p {
			position: absolute;
			margin-left: 50%;
		}
</style>

<p>Trending Now</p>
@foreach (var t in _tags)
{
	@if (0 == t.Popularity) continue;

	<div id="tag_container" class="row">
		<a href="/search?q=#@t.Name">#@t.Name</a><p>@t.Popularity</p>
	</div>
}

@code {
	private List<Entity.Tag> _tags = new List<Entity.Tag>();

	protected async override Task OnInitializedAsync()
	{
		using var db = DbContext.CreateDbContext();
		
		List<Entity.Tag> tags = db.Tags.Include(t => t.Threads).ToList();

		tags.Sort();
		_tags = tags.GetRange(0, 3);
	}
}
