@using Microsoft.EntityFrameworkCore

<style>
	#tag_container {
		width: inherit;
		margin: 0;
	}

		#tag_container p {
			position: absolute;
			margin-left: 50%;
		}

	#underline {
		border-bottom: 0.1em solid #9BAEC8;
	}
</style>

<p id="underline">Trending Now</p>
@foreach (var t in _tags)
{
	@if (0 == t.Popularity) continue;

	<div id="tag_container" class="row">
		<a href="/search?q=#@t.Name">#@t.Name</a><p>@t.Popularity</p>
	</div>
}

@code {
	[CascadingParameter]
	private Model.Database DbContext { get; set; }
	
	private List<Entity.Tag> _tags = new();

	protected override async Task OnInitializedAsync()
	{
		var tags = DbContext.Tags.Include(t => t.Threads).ToList();
		tags.Sort();

		_tags = tags.GetRange(0, 3);
	}
}
