@using Microsoft.EntityFrameworkCore
@* ReSharper disable once InconsistentNaming *@
@inject IDbContextFactory<Model.Database> DbContext

<style>
	#tag_container {
		width: inherit;
		margin: 0;
	}

		#tag_container p {
			position: absolute;
			margin-left: 50%;
		}
</style>

<p>Trending Now</p>
<hr>
@foreach (var t in _tags)
{
	@if (0 == t.Popularity) continue;

	<div id="tag_container" class="row">
		<a href="/?q=#@t.Name">#@t.Name</a><p>@t.Popularity</p>
	</div>
}

@code {
	private List<Entity.Tag> _tags = new();

	/// <summary>
	/// Initializes the component.
	/// Searches for the 3 most used tags over the last 24 hours.
	/// </summary>
	protected override async Task OnInitializedAsync()
	{
		await using var dbContext = DbContext.CreateDbContext();

		var tags = dbContext.Tags.Include(t => t.Threads).ToList();

		if (tags.Count == 0) return;
		
		tags.Sort();

		try
		{
			_tags = tags.GetRange(0, 3);
		}
		catch (ArgumentException) { }
	}
}
