@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: Roboto, monospace;
	background: #282828;
	color: #ebdbb2;

	/* Makes sure the page is always centered,
	 * also on an ultra-wide screen.
	 */
	max-width: 125rem;
	margin-left: auto;
	margin-right: auto;
}

*:disabled {
	filter: brightness(80%);
}

::placeholder {
	color: #ebdbb2 !important;
	opacity: 0.4 !important;
}

/* Header colors */
h1, h2, h3 {
	color: #ebdbb2;
}




.center-whole {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.center-simple {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}




/* Form styling */
form {
	width: 30em;
}

.form-sim {
	width: 30rem;
}

.form-bigger {
	width: 50rem;
}

/* Overwrites bootstraps form-control class */
.form-control {
	border: none;
	background: #42373C;
	color: #ebdbb2;

	margin: 2rem 0;
	width: 100%;
	border-radius: 0.5rem;
}

	.form-control:focus {
		background: #42373C;
		color: #ebdbb2;
	}
	
	.form-control:disabled {
		background: inherit;
	}

input[type=text], textarea {
	font-family: "JetBrains Mono", monospace;
}




div {
	border-radius: 0.5rem;
}

a {
	text-decoration: none;
	color: #98971A;
}

	a:hover {
		text-decoration: underline;
		color: #98971A;
	}

.main {
	background: #282828;
	margin: 0.25rem;
}

.fix-left {
	position: fixed;
	left: 0;
}

.fix-right {
	position: fixed;
	right: 0;
}

.needs-padding {
	padding: 0.5rem;
}

.needs-space-lr {
	margin-left: 0.75rem !important;
	margin-right: 0.75rem !important;
}

.clickable {
	cursor: pointer;
}




/* Page containers, divides the site into 3 containers */
.container-middle {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.container-left {
	width: 15%;
}

.container-right {
	width: 15%;
}




/* Button styling */
button {
	min-width: max-content;
	border: none;
	display: inline-block;
	padding: 0.5rem;
	background: #42373C;
	
	/* Divides the whole available width between
	 * all buttons ~~equally~~ (depends on flex grow).
	 */
	width: 0;
	flex-grow: 1;
}

	button:hover {
		filter: brightness(120%);
	}

.btn-grow-medium {
	flex-grow: 1.5 !important;
}

.btn-grow-large {
	flex-grow: 2 !important;
}

.btn-col-light {
	color: #ebdbb2;
}	

.btn-col-dark {
	color: black;
}

.btn-hover-accent:hover {
	background: #98971A !important;
}

.btn-norm {
	border-radius: 0.5rem;
	font-size: larger;
}

.btn-norm-sec {
	border: none;
	background: #282828;
	color: #ebdbb2;
	font-size: larger;
}

.btn-left {
	border-bottom-left-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
}

.btn-right {
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.btn-mini {
	margin: 0;
	padding: 0;
	height: 0.25rem;
	background: #282828;
	color: #98971A;
	font-size: 80%;
}

.btn-select {
	width: inherit;
	height: 30px;
	margin: 0.25rem auto 0.25rem auto;
}

	.btn-select button {
		width: 0;
		flex-grow: 1;
		height: inherit;
		padding: 0;
	}

	.btn-select .btn-active {
		background: #98971A;
	}

.accent-light {
	background: #ebdbb2;
}

.accent-dark {
	background: #98971A;
}




.p-annotation-sm {
	color: #ebdbb2;
	margin: 0;
	font-size: smaller;
}

.shiny:hover {
	filter: brightness(120%);
}

.input-fg {
	border: none;
	background: #42373C;
	color: #ebdbb2;
	margin: 0.25rem;
	width: 100%;
	border-radius: 0.5rem;
}

	.input-fg:focus {
		background: #42373C;
		color: #ebdbb2;
		outline: none;
	}

textarea {
	margin-bottom: 0 !important;
	height: 15rem !important;
}




.relative-span {
	position: relative;
}

.validation-message {
	position: absolute;
	bottom: -1.5rem;
	z-index: 1;
	font-size: 0.75em;
}




pre {
	margin: 0;
	white-space: pre-wrap;
	word-break: break-all;
	font-family: "JetBrains Mono", monospace;
}

hr {
	background: #98971A;
}

code {
	font-family: "JetBrains Mono", monospace;
	color: #e83e8c !important;
	/*color: #c0c0c0 !important;*/
}

kbd {
	border: 0.1rem solid #FFF;
}

blockquote {
	border-left: 0.25rem solid #5a6268;
	padding-left: 0.5rem;
	opacity: 0.8;
}

mark {
	background-color: rgba(239, 78, 57, 0.62);
	color: #ebdbb2;
}

















/* Blazor Error UI */
.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: gray;
	color: black;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}
