@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*background: #282C37;*/
	background: #343744;
	color: #FFF;
}

h1 {
	color: #FFF;
}

input {
	border: none;
	margin: 2rem 0;
	width: 100%;
	border-radius: 0.5rem;
}

.form-control {
	border: none;
	background: #282C37;
	color: white;
}

	.form-control:focus {
		background: #282C37;
		color: white;
	}

div {
	border-radius: 0.5rem;
}

a {
	text-decoration: none;
	color: white;
}

	a:hover {
		text-decoration: underline;
	}

form {
	width: 30em;
}

.form-sim {
	width: 30em;
}

.main {
	/*background: #191B22;*/
	/*background: #343744;*/
	background: #000;
	color: #9BAEC8;
}

	.main h3 {
		color: #FFF;
	}

.element {
	background: #282C37;
	color: #9BAEC8;
}

button {
	border: none;
	display: inline-block;
	padding: 7px;
	width: 1%;
	flex-grow: 1;
	/*max-width: 34%;*/
	/*min-width: 33%;*/
}

	button:hover {
		/*filter: brightness(70%);*/
		filter: brightness(120%);
	}

.btn-bottom-left {
	border-bottom-left-radius: 0.5rem;
}

.btn-bottom-right {
	border-bottom-right-radius: 0.5rem;
}

.accent-red {
	background: #D03F3F;
}

.accent-green {
	background: #2E8427;
}

.accent-blue {
	background: #512DFC;
}

.col-dark {
	background: #191B22;
}

.col-light {
	background: #282C37;
}

.col-lighter {
	background: #9BAEC8;
}












.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: gray;
	color: black;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}
