@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #191B22;
	color: #FFF;
	max-width: 125rem;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #FFF;
}

.center-whole {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Overwrites bootstraps form-control class */
.form-control {
	border: none;
	background: #131419;
	color: white;

	border: none;
	margin: 2rem 0;
	width: 100%;
	border-radius: 0.5rem;
}

	.form-control:focus {
		background: #131419;
		color: white;
	}

div {
	border-radius: 0.5rem;
}

a {
	text-decoration: none;
	color: #9BAEC8;
}

	a:hover {
		text-decoration: underline;
		color: #9BAEC8;
	}

form {
	width: 30em;
}

.form-sim {
	width: 30em;
}

.main {
	background: #333844;
	color: #9BAEC8;
	margin: 5px;
}

	.main h3 {
		color: #FFF;
	}

.second {
	background: #191B22;
	margin: 5px;
}

.needs-padding {
	padding: 10px;
}

.needs-space-lr {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.clickable {
	cursor: pointer;
}

.container-middle {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.container-left {
	width: 15%;
}

.container-right {
	width: 15%;
}

.element {
	background: #282C37;
	color: #9BAEC8;
}

button {
	border: none;
	display: inline-block;
	padding: 7px;
	width: 1%;
	flex-grow: 1;
}

	button:hover {
		filter: brightness(120%);
	}

.btn-norm {
	border-radius: 0.5rem;
	background: #333844;
	color: #9BAEC8;
	font-size: larger;
}

.btn-norm-sec {
	border: none;
	background: #191B22;
	color: #9BAEC8;
	font-size: larger;
}

.btn-bottom-left {
	border-bottom-left-radius: 0.5rem;
}

.btn-bottom-right {
	border-bottom-right-radius: 0.5rem;
}

.accent-red {
	background: #D03F3F;
}

.accent-green {
	background: #2E8427;
}

.accent-blue {
	background: #512DFC;
}

.col-dark {
	background: #191B22;
}

.col-light {
	background: #282C37;
}

.col-lighter {
	background: #9BAEC8;
}

.txt-title {
	color: white;
}

.txt-dark {
	color: #9BAEC8;
}

.p-annotation-lg {
	margin: 0;
}

.p-annotation-sm {
	margin: 0;
	font-size: smaller;
}

.input-fg {
	border: none;
	background: #333844;
	color: #9BAEC8;
	margin: 5px;
	width: 100%;
	border-radius: 0.5rem;
}

	.input-fg:focus {
		background: #333844;
		color: #9BAEC8;
		outline: none;
	}

.shiny:hover {
	filter: brightness(120%);
}









/* Blazor Error Stuff */
.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: gray;
	color: black;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}
